{% extends 'core/base.html' %}

{% load static %}

{% block title %}Notre Entreprise{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">
Offrir une qualité de service</span>
              <span class="section-heading-lower">
À propos de nous</span>
            </h2>
            <p>Nous avons les mêmes normes de qualité, de sécurité et de professionnalisme des meilleures entreprises du monde</p>
            <p>Un développement commercial durable, basé sur des critères de responsabilité économique, sociale et environnementale.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}